<h1>Address Book</h1>
<div class='table-responsive'>
    <table mat-table [dataSource]="contacts" class="mat-elevation-z8">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let c"> {{c.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name </th>
            <td mat-cell *matCellDef="let c"> {{c.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="addressLineOne">
            <th mat-header-cell *matHeaderCellDef>Address Line 1</th>
            <td mat-cell *matCellDef="let c"> {{c.addressLineOne}} </td>
        </ng-container>

        <ng-container matColumnDef="addressLineTwo">
            <th mat-header-cell *matHeaderCellDef>Address Line 2</th>
            <td mat-cell *matCellDef="let c"> {{c.addressLineTwo}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let c"> {{c.city}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let c"> {{c.country}} </td>
        </ng-container>

        <ng-container matColumnDef="postalCode">
            <th mat-header-cell *matHeaderCellDef>Postal Code</th>
            <td mat-cell *matCellDef="let c"> {{c.postalCode}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let c"> {{c.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let c"> {{c.age}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let c"> {{c.email}} </td>
        </ng-container>

        <ng-container matColumnDef="map">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let c; let i = index">
                <button mat-raised-button (click)='openMapDialog(i)'>Map</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let c; let i = index">
                <button mat-raised-button (click)='openEditContactDialog(i)'>Edit</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let c">
                <button mat-raised-button (click)='deleteContact(c.id)'>Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>