.menu-button {
  margin-top: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-button {
  color: white;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
  background-color: #fc036b;
  color: white;
}
